* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .main {
  height: 100%;
}

:root {
  --cl-one: #F0E446;
  --cl-two: #B3AA73;
  --cl-three-light: #F9F1CB;
  --cl-four: #005247;
  --cl-gray-one: #AFAB99;
}