.widgets-wrapper {
  display: grid;
  grid-template-rows: repeat(36, 1fr);
  height: 100%;
  position: absolute;
  inset: 0;
}

.building-area {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
}

.is-over .cell {
  border: 1px solid var(--cl-three-light);
}

.row.is-selected > .cell.is-selected {
  background-color: var(--cl-one);
}

.active-widgets {
  display: grid;
  grid-template-rows: repeat(36, 1fr);
  grid-template-columns: repeat(36, 1fr);
  height: 100%;
}